---
---

@import "{{ site.theme }}";

/* Reduced font sizes for mobile */
#main-content h1 { font-size: 1.4rem; }    /* 22px */
#main-content h2 { font-size: 1.125rem; }  /* 18px */
#main-content h3 { font-size: 0.9375rem; } /* 15px */
#main-content h4 { font-size: 0.75rem; }   /* 12px */
#main-content h5 { font-size: 0.625rem; }  /* 10px */
#main-content h6 { font-size: 0.5rem; }    /* 8px */

/* Default theme values on large screens */
@media only screen and (min-width: 960px) {
  #main-content h1 { font-size: 2.8rem; }    /* 45px */
  #main-content h2 { font-size: 1.375rem; }  /* 22px */
  #main-content h3 { font-size: 1.125rem; }  /* 18px */
  #main-content h4 { font-size: 0.9375rem; } /* 15px */
  #main-content h5 { font-size: 0.875rem; }  /* 14px */
  #main-content h6 { font-size: 0.8rem; }    /* 13px */
}
