<link rel="icon" type="image/png" href="/christianisme/appicons/icon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/christianisme/appicons/icon-16x16.png" sizes="16x16" />

<meta name="mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="/christianisme/favicon.png" />
<meta name="apple-mobile-web-app-title" content="Application title" />
<link rel="apple-touch-startup-image" href="/christianisme/favicon.png" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="#343a40" />

<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/christianisme/sw.js', { scope: '/christianisme/' })
            .then((registration) => {
                console.log('Service Worker Registered');
            });

        navigator.serviceWorker
            .ready
            .then((registration) => {
                console.log('Service Worker Ready');
            });
    }
</script>
